my_env_name/
data/
dev.json
meta_data.json
train.json
preprocess/
__pycache__/
longformer_ckpt/
smap.json
test.json
umap.json
val.json
.env
clustering_results/
preprocess
pretrain_ckpt/
test.py
test.ipynb
clustering_result_trans/
clustering_results_item/